<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="root" id="root">
        <div class="header">
            <h1>Тут могло быть Ваше Лого</h1>
            <custom-search v-model="searchValue"></custom-search>
            <button class="button" v-on:click="cartButtonClick">Корзина</button>
        </div>
        <div class="cart" v-if="isVisible">
            <p>Список товаров</p>
            <div>Навзание товара</div>
            <div>Цена товара за штуку</div>
            <div>Цена товара общая</div>
            <div>Количество товара</div>
            <div class="cartDivStatic">
                <button type="button">+</button>
                <button type="button">-</button>
            </div>
            <p>Цена товаров:</p>
        </div>
        <div class="wrapper">
            <h1>{{ empty }}</h1>
            <div class="goods-item" v-for="item in filteredItems">
                <h1>{{ item.product_name }}</h1>
                <h2>{{ item.price }}</h2>
                <button type="button">BUY!</button>
            </div>
        </div>
    </div>
</body>

</html>