.header {
    display: flex;
    align-items: center;
}

.header>input {
    margin-left: auto;
}

.wrapper {
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}

.goods-item {
    border: 1px solid black;
    padding: 10px;
}

.cart {
    padding: 10px 5px;
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    width: 231px;
    height: 200px;
    border: 1px solid black;
}

.cart>p:nth-child(1) {
    order: 1;
}

.cartDivStatic {
    display: flex;
    order: -1;
}